.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 120px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 20px;
}

.container {
    text-align: center;
}

.role, .text {
    display: inline;
}