.header {
    background-color: #1e1e1e;
    padding: 10px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.header h2 {
    font-size: 1.1rem;
    margin-top: 1px;
    font-weight: 600;
    color: rgb(246, 240, 240);
}

.header .description {
    font-size: 0.9rem;
    color: #e0e0e0;
    margin: 0 auto;
    max-width: 80%;
    line-height: 1.4;
    font-weight: 300;
}