::-webkit-scrollbar {
    background-color: transparent;
}

.chat-box::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.8);
    width: 15px;
    height: 10px;
    border-radius: 100px;
}

.chat-box::-webkit-scrollbar-thumb:active {
    background-color: rgba(120, 120, 120, 0.8);
}

.chat-box::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Firefox styling */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}

