body {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1e1e1e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-weight: 900;
}

p {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

