{% extends "layout.html" %}

{% block content %}
<body id="homebody">
    <div class="auth-buttons">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a> | <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
    <div class="content">
        <h1>Caractify</h1>
    </div>
    {% for chat_type, config in chat_configs.items() %}
    <div class="card" onclick="window.location.href='/chat/{{ chat_type }}'">
        <div class="card-content">
            <img src="{{ url_for('static', filename=config.image) }}" alt="Chat Icon">
            <h3 id="name">{{ config.title }}</h3>
        </div>
        <p>{{ config.welcome_message }}</p>
    </div>
    {% endfor %}
</body>
{% endblock %}