<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caractify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .header {
            padding: 20px;
            text-align: center;
        }

        .header img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: block;
            margin: 0 auto 10px;
            margin-bottom: 0px;
        }

        .header h2 {
            font-size: 1.1rem;
            margin-top: 1px;
            font-weight: normal;
            color: rgb(246, 240, 240);
        }
    </style>
</head>
{% block content %}
{% endblock %}
</html>